.button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 80%; /* Adjust as needed was 100% */
}

.card { 
    width: 300px;
    margin: 20px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 500px; /* Set a fixed height for the product container */
}

.card-display {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    flex-grow: 1;
}
