
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*
    user login-info top right
    displays either logged-in account or "guest"
*/
.user-account-div {
    text-align: center;
    
    display: flex;

    /*
        width has to be edited whenever loading a user's account name
        if too small, site will fuck up
        if too big, site will fuck up more

        min. : 90px
        max. : 150px
    */
    width: 90px;
    
    margin-left: auto;
    margin-right: 10px;
}

.user-account-display {
    box-shadow: 0 4px 10px #133952;
    color: #20272b;
    font-weight: bold;
    border-radius: 5px;
    height: 20px;
    width: inherit;
}

/*
    title/ navigation bar
*/
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-left: auto;
}

nav div {
    width: 90px;
    background-color: #2872a4;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

nav div a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

nav div:hover {
    text-decoration: none;
    color: #fff;
    background-color: #175279;
    border-radius: 5px;
}

/*
    display layout for the products
*/
main.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    flex-grow: 1;
}

/*
    Box-Design for the products
*/
.product {
    width: 300px;
    margin: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 500px; /* Set a fixed height for the product container */
}

.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.product-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product h2 {
    margin-top: 0;   
} 

.product h2 input {
    border-style: hidden;  
    font-weight: bold;
    font-size: large;
    outline: none;
} 

.description {
    flex-grow: 1; /* Allow the description to take up the remaining space */
}

.price-container {
    text-align: right;
}
  
.price {
    color: #27ae60;

    font-weight: bold;
    font-size: large;
    border-style: hidden;
    margin-top: 10px;

    outline: none;
    
    margin-right: 0; /* Adjusted to 0 */
    padding: 0; /* Adjusted to 0 */

    text-align: right;
}

.price-container span {
    vertical-align: middle; /* Alisgn the € symbol vertically with the input */
    color: #27ae60;
    font-weight: bold;
    font-size: large;
    border-style: hidden;
    margin-top: 10px;
}

/* button to view more details about the product */
input[type="submit"] {
    background-color: #27ae60;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 80%; /* Adjust as needed was 100% */
}

/* this somehow handled the two-buttons-problem with view-product and wishlist-product */
/* DO NOT EDIT, IT WAS A PAIN TO GET IT RIGHT */
.button-container {
    display: flex;
    justify-content: space-between;
}

.wishButton {
    background: transparent;
    border: none !important;
    font-size:0;
}

.button-container img {
    width: 15px; /* Adjust as needed */
    height: 22px; /* Adjust as needed */
}

input[type="submit"]:hover {
    background-color: #219d54;
}

/* foot-note of the website, displays copyright/ contact infos */
footer {
    background-color: #3498db;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* hides everything with this class */
.hide-this {
    display: none;
}

