.TextMiddle {
    text-align: center;
    border: 2px solid #3498db;
    padding: 1px;
    border-radius: 5px;
    background: #3498db;
    color: white;
}
.button {
    display: block;
    margin: auto;
    border: 2px solid #3498db;
    background: #3498db;
    border-radius: 50px;
    color: white;
    width: 150px;
    height: 37px;
    font-size: 18px;
}
.button:hover {
    background-color: #3EF591;
    border: 2px solid #3EF591;
}
.FieldMiddle {
    display: flex;
    justify-content: center;
}